<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header', {username:username}); %>
        </header> 
        
        <main>
            <div class="jumbotron">
                <h1>CIS329 - Spring 22 - Final Project</h1>
                <p> 05/05/2022</p>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>

</html>